<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Clean request update:</h1>
    <p>Clean request approval:<%= @clean_request.approved ? "Approved" : "Denied" %></p>
  </body>
</html>