<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New clean request from <%= @user.email %></h1>
    <p>Date: <%= @clean_request.date %> </p>
    <p>Location: <%= @clean_request.location.site_name %>
  </body>
</html>