<h1>Invoices</h1>
<% Location.all.each do |location| %>
  <h3><%=location.site_name%></h3>
  <hr />
  <% location.invoices.each do |invoice| %>
    <%= link_to invoice.start_date.strftime('%d %b %Y') + ' - ' + invoice.end_date.strftime('%d %b %Y'), invoice_path(invoice)%>
  <% end %>
<% end %>

<%= link_to 'New Invoice', new_invoice_path %>