<h1><%= @house.sales_name %></h1>
<p>Build number:<%= @house.build_number %></p>
<p>Number of bedrooms: <%= @house.bedrooms if @house.bedrooms %> </p>

<div><%= link_to 'Edit', edit_house_path(@house) %> </div>