// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//Settings

//Colours

.plot-badge {
  font-size: 2rem !important;
  color: antiquewhite;
  margin: 0.25rem !important;
}
